---
filter: haml
dirty:  true
---
- each_main_page_posts do |page|
  %div.article
    %div.date
      %span.day= page.created_at.strftime('%d')
      %span.month= page.created_at.strftime('%b')
    %h1!= link_to_page(page)
    .meta
      %a.comments{:href => page.url + "#disqus_thread" }
    .body!= preserve(render(page))
