---
title:  ohaie, I'm M-A Cournoyer
filter: haml
dirty:  true
layout: home
---

%h1#logo
  %div
    %a{:href => "/"}<
      - "macournoyer".split("").each_with_index do |letter, index|
        %span{:class => "letter-#{index}"}>= letter
      %span.com> .com

#about!= render :partial => "/about"
