--- 
extension: html
filter:    haml
--- 
!!!
%html

  %head
    %title= @page.title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
    %meta{:name => "author", :content => "Marc-Andr&eacute; Cournoyer"}/
    %link{:rel => "stylesheet", :href => "/stylesheets/screen.css", :type => "text/css", :media => "screen, projection"}/
    %link{:rel => "stylesheet", :href => "/stylesheets/print.css", :type => "text/css", :media => "print"}/
    /[if IE]
      %link{:rel => "stylesheet", :href => "/stylesheets/ie.css", :type => "text/css", :media => "screen, projection"}/
    %link{:rel => "alternate", :type => "application/atom+xml", :title => "Atom Feed", :href => "/blog.atom"}/
    
  %body#home
    #root
      #container!= @content
      #root_footer
    #footer
      %ul.menu
        %li
          %a{:href => "/blog"} blog
        %li
          %a{:href => "http://github.com/macournoyer"} projects
        %li
          %a{:href => "mailto:macournoyer@gmail.com"} email me
