--- 
filter:    sass
extension: css
layout:    nil
--- 
@import blueprint/screen.sass
@import blueprint/modules/scaffolding.sass
@import blueprint/modules/debug.sass
@import blueprint/modules/fancy_type.sass
@import blueprint/modules/typography.sass
@import compass/reset.sass
@import attach_footer.sass

+attach_footer( 54px )

body
  +blueprint
  +blueprint-typography
  +blueprint-grid
//  +showgrid(/images/grid.png)
  :font-size 16px
  :font-family Georgia
  
#root
  +prepend(1)
  :margin-top 30px
  
#footer
  +prepend(1)
  :background-color #222
  :color #eee
  :border-top solid 1px #777

  a.logo
    +alt
    +column(5)
    :text-decoration none

  .menu
    +column(10)
    +alt
    :display inline
    
    a
      :background-color #222
      :color #ccc
      :text-decoration none
      &:hover
        :color #fff

body#home
  #root
    +prepend(4)
    :margin-top 126px
  
  #logo
    +column(5)
  
  #about
    +column(18, true)
    +span(10)
    :font-size 13px
    :margin-top 4px
    p
      :margin-bottom 18px
      :line-height 18px
  
  #footer
    :height 300px
    
    .menu
      +prepend(8)
      :font-size 26px

body#default
  #side
    +column(5)
    :margin-top 10px

    div
      +span(4)

    #about
      :font-size 11px
      :margin-top 8px
      p
        :margin-bottom 18px
        :line-height 18px
  
  #container
    +container
    +column(18, true)
    :overflow hidden

    .article
      h1
        +alt
        :margin-top 15px
        :margin-bottom 30px
        :padding-top 0
        :font-size 54px
        :font-weight bold
        :letter-spacing -.05em
        +prepend(1)
        a
          :color = !font_color
          :text-decoration none
          &:hover
            :color = !link_hover_color
    
      h2, h3
        +alt
        :color= !font_color
        :font-weight bold
        :letter-spacing -.05em
        :padding-top 7px
        :margin-bottom 17px
    
      p
        :font-size 13px
        :line-height 18px
        :margin-bottom 18px
      
      pre
        :padding 14px
        :border solid 1px #777
      
      .meta
        +prepend(2)
        :position absolute
        :margin-top -34px
        :font-size 11px
        
      .date
        +column(2)
        :background url(/images/stamp.gif) no-repeat
        :height 57px
        :width 57px
        :padding 0px 1px
        :margin
          :left 5px
          :right 15px
        :text-align center
        .day
          :color #eee
          :font-size 180%
          :font-family Georgia
        .month
          +caps
          :font-size 80%
          :color #ccc
          :position relative
          :display block
          :top -3px
  
#logo
  :margin 0
  :padding 0
  :font-family "times new roman"
  :height 1.7em
  a
    :text-decoration none
    :color= !font_color
    &:hover
      :color = !link_hover_color
      span
        :color = !link_hover_color
  div
    :height 1.7em
    :position absolute

  span
    :padding 0
    :margin 0
    :position absolute
  // m
  span.letter-0
    :font-size 24px
    :font-weight bold
    :font-style italic
  // a
  span.letter-1
    :font-size 50px
    :font-weight bold
    :left 20px
    :margin-top -14px
  // c
  span.letter-2
    :font-size 50px
    :left 2px
    :margin-top 6px
  // o
  span.letter-3
    :font-size 86px
    :left 24px
    :margin-top -2px
  // u
  span.letter-4
    :font-size 34px
    :font-style italic
    :left 44px
    :margin-top -9px
  // r
  span.letter-5
    :font-size 26px
    :font-style italic
    :font-weight bold
    :left 59px
    :margin-top 10px
  // n
  span.letter-6
    :font-size 22px
    :font-style italic
    :font-weight bold
    :left 66px
    :margin-top 24px
  // o
  span.letter-7
    :font-size 34px
    :font-style italic
    :left 66px
    :margin-top 34px
  // y
  span.letter-8
    :font-size 118px
    :left 60px
    :margin-top -46px
  // e
  span.letter-9
    :font-size 36px
    :font-weight bold
    :left 114px
    :margin-top -6px
  // r
  span.letter-10
    :font-size 44px
    :left 130px
    :margin-top -12px
    :font-style italic
    :font-variant small-caps
  span.com
    +caps
    :font-size 18px
    :left 106px
    :margin-top 34px
    :color #900


ul.menu
  :list-style none
  :margin 0
  :padding 0
  li
    :display inline
    :margin-right 30px

.ruby
  :color #900

.amp
  +alt

